<div class="stories-list">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <h1>Stories</h1>
            </div>
        </div>
        <div class="row">
            {{#each stories}}
                <div class="col-xl-4">
                    <div class="card">
                        {{{editIcon user ../user _id}}}
                        <div class="card-body">
                            <div class="card-meta-wrapper">
                                <img class="card-image" src="{{user.image}}" alt="">
                                <div class="card-meta">
                                    <h5><a href="/stories/user/{{user._id}}" class="card-link">{{user.displayName}}</a></h5>
                                    <p class="card-subtitle text-muted">{{formatDate createdAt 'MMMM Do, YYYY'}}</p>
                                </div>
                            </div>
                            <div class="card-text">
                                <h5 class="card-title">{{title}}</h5>
                                <p>{{stripTags (truncate body 150)}}</p>
                                <a class="btn btn-info" href="/stories/{{_id}}">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
            {{else}}
                <p>No Stories to display</p>
            {{/each}}
        </div>
    </div>
</div>